:root{
    --primary:#2d81ff;
    --primary-light:#edf2fa;
}
body{
    background-color: var(--primary-light);
}

header .navbar-brand{
    color: var(--primary);
}

main{
    margin-top: 28px;
}

.main-box{
    width: 90%;
    margin: 0 auto;
}

.accordion-body .card{
    display: inline-block;
}
.card img{
    height: 200px;
}